[
    (
        id: "raise_earth",
        name: "Raise Earth",
        description: "Adds 2 cards to your spell deck.",
        rarity: Common,
        kind: Spell(
            spell: RaiseEarth,
            charges: 2,
            quick: false,
        ),
    ),
    (
        id: "lower_earth",
        name: "Lower Earth",
        description: "Adds 2 cards to your spell deck.",
        rarity: Common,
        kind: Spell(
            spell: LowerEarth,
            charges: 2,
            quick: false,
        ),
    ),
    (
        id: "freeze",
        name: "Freeze",
        description: "Adds 2 cards to your spell deck.",
        rarity: Uncommon,
        kind: Spell(
            spell: Freeze,
            charges: 2,
            quick: false,
        ),
    ),
    (
        id: "bridge",
        name: "Bridge",
        description: "Adds 2 cards to your spell deck.",
        rarity: Common,
        kind: Spell(
            spell: Bridge,
            charges: 2,
            quick: false,
        ),
    ),
    (
        id: "dig_tunnel",
        name: "Dig Tunnel",
        description: "Adds 1 card to your spell deck.",
        rarity: Uncommon,
        kind: Spell(
            spell: DigTunnel,
            charges: 1,
            quick: false,
        ),
    ),
    (
        id: "shield",
        name: "Shield",
        description: "Adds 1 card to your spell deck.",
        rarity: Uncommon,
        kind: Spell(
            spell: Shield,
            charges: 1,
            quick: true,
        ),
    ),
    (
        id: "swap",
        name: "Swap",
        description: "Adds 1 card to your spell deck.",
        rarity: Rare,
        kind: Spell(
            spell: Swap,
            charges: 1,
            quick: false,
        ),
    ),
    (
        id: "rewind",
        name: "Rewind",
        description: "Adds 1 card to your spell deck.",
        rarity: Rare,
        kind: Spell(
            spell: Rewind,
            charges: 1,
            quick: false,
        ),
    ),
]
